<div class="row">
    
    NUEVAS OFERTAS
    <!-- Datos basicos de Oferta -->
    <div class="row">
        
        <div class="row panel panel-info">
            <div class="col-xs-5">
                <img />
            </div> <!--foto-->
            <div class="col-xs-7">
                <div>
                    <label>
                        Nombre Oferta
                    </label>
                    <input />
                </div> <!--Nombre de Oferta-->
                <div>
                    <label>
                        Rubro
                    </label>
                    <input />

                    <label>
                        SubRubro
                    </label>
                    <input />
                </div> <!--Rubro/SubRubro-->
            </div>

        </div> <!--foto, nombre, rubro, subrubro-->
    </div>
    <!-- Fin Datos Basicos -->



    <!-- Puestos de Oferta -->
    <div class="row">

    </div>
    <!-- Fin Puesto de Oferta -->



</div>