<div class="row">
    <div class="col-md-12">
        <div class="box dark">
            <header>
                <div class="icons">
                    <i class="glyphicon glyphicon-lock"></i>
                </div>
                <h5>Carga de Oferta Laboral</h5>
                <div class="toolbar">
                    <div class="btn btn-sm btn-default minimize-box">
                        <a>
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </div>
                </div>
            </header>

        </div>
        <br />
        <div class="col-xs-4 col-xs-offset-1">
            <img src="../../../../Icon.png" class="img-circle img-responsive" />
        </div>
        <div class="col-xs-6">

            <div class="form-group">
                <label>Nombre de la Oferta</label>
                <input type="text" ng-model="" class="form-control" required />
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <div class="col-xs-4">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                Rubro <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Rubro 1</a></li>
                                <li><a href="#">Rubro 2</a></li>
                                <li><a href="#">Rubro 3</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <!--<script type="text/ng-template" id="customTemplate.html">
                            <a>
                                <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
                                <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
                            </a>
                        </script>-->

                        <div class='container-fluid'    >

                            <label>Lugar</label>
                            <input type="text" ng-model=""  class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="row">

                <div class="col-md-6">
                    <label>Fecha de Inicio de Oferta</label>
                    <p class="input-group">
                        <input type="date" ng-model="" class="form-control" datepicker-popup="{{format}}" ng-model="" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>


                <div class="col-md-6">
                    <label>Fecha de Fin de la Oferta</label>
                    <p class="input-group">
                        <input type="date" ng-model="" class="form-control" datepicker-popup="" ng-model="" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">

                <label>Descripcion</label>
                <textarea cols="25" rows="6" ng-model="" class="form-control" required> </textarea>
            </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1">

            <accordion>
                <accordion-group heading="Nuevo Puesto">
                    <div class="col-xs-12">


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-inline">
                                    <label>Puesto</label>
                                    <input type="text" ng-model="" class="form-control ng-pristine ng-valid ng-touched" placeholder="Nombre del puesto...">
                                </div>
                            </div>


                            <div class="col-xs-6">
                                <div class="form-inline">
                                    <label>Sub-rubro del puesto</label>
                                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle="" ng-disabled="disabled">
                                        Sub-rubro <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">action</a></li>
                                        <li><a href="#">another action</a></li>
                                        <li><a href="#">something else here</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>
                                        Tipo de contrato
                                        <input type="text" ng-model="" class="form-control ng-pristine ng-valid ng-touched" placeholder="Directa, contrato de locacion...">
                                    </label>
                                </div>
                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">


                                    <label>Agregar habilidades requeridas</label>
                                    <input type="text" ng-model="" class="form-control ng-valid ng-dirty ng-pristine ng-untouched" placeholder="habilidad requerida">
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-inline">

                                    <button class="btn btn-primary btn-xs">Agregar</button>


                                    <!--repeat start-->
                                    <!--<div ng-repeat-start="habilidad in habilidades" class="ng-hide-animate">
                    <button class="btn btn-primary btn-block btn-sm" ng-click="toogglepuesto(puesto)">
                        {{puesto.nombre}}
                        <span class="expand-indicator" ng-show="puesto.expanded">&mdash;</span>
                    </button>
                </div>-->
                                    <!--repeat habilidades-->
                                    <div class="list-items animate-show-item ng-hide" ng-show="category.expanded">
                                        <ul>
                                            <!-- ngrepeat: task in habilidades.task -->
                                        </ul>

                                        <!--fin del repeat-->
                                        <!--<div ng-repeat-end>
                        <button ng-show="habilidad.expanded" class="btn btn-primary btn-block btn-sm animate-show-item" disabled="disabled">/ {{ habilidad.name }}</button>
                        <hr>
                    </div>-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="form-group">
                                    <label>Remuneración</label>
                                    <input type="text" ng-model="" class="form-control ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <div class="btn-group" dropdown="" is-open="status.isopen">
                                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                                            Nivel de estudio <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">action</a></li>
                                            <li><a href="#">another action</a></li>
                                            <li><a href="#">something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-3">
                                <div class="form-horizontal">
                                    <div class="checkbox">
                                        <label>Finalizado?    </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="puesto.niveldeestudiofinalizado" class="ng-pristine ng-untouched ng-valid">

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="btn-group" dropdown="" is-open="status.isopen">
                                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                                        Profesion <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">action</a></li>
                                        <li><a href="#">another action</a></li>
                                        <li><a href="#">something else here</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <div class="form-inline">
                                    <label>Experiencia</label>
                                    <input type="text" ng-model="oferta.añosdeexperiencia" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Experiencia(meses/años)...">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">

                        </div>
                        <!-- dropdown multiselect -->
                        <!--<div class="col-xs-6">
    <div class="form-group">
        <div ng-dropdown-multiselect="" options="example8data" selected-model="example8model">
            <div ng-dropdown-multiselect="" options="example8data" selected-model="example8model" checkboxes="true">dropmultiselect</div>



        </div>

    </div>-->
                        
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <div class="btn-group" dropdown="" is-open="status.isopen">
                                        <button type="button" class="btn btn-primary dropdown-toggle ng-pristine ng-untouched ng-valid" ng-model="oferta.distanciaaltrabajo" dropdown-toggle="" ng-disabled="disabled">
                                            Distancia al trabajo <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">action</a></li>
                                            <li><a href="#">another action</a></li>
                                            <li><a href="#">something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Movilidad requerida?</label>
                                    <div class="btn-group" dropdown="" is-open="status.isopen">
                                        <button type="button" class="btn btn-primary dropdown-toggle ng-pristine ng-untouched ng-valid" ng-model="oferta.distanciaaltrabajo" dropdown-toggle="" ng-disabled="disabled">
                                            Si <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Si</a></li>
                                            <li><a href="#">No</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">

                                    <label>Adicionales</label>
                                    <textarea cols="25" rows="6" ng-model="" class="form-control ng-pristine ng-untouched ng-valid" required=""> </textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>
                    <br>
                </accordion-group>

            </accordion>


        </div>

        <div class="col-xs-12 col-xs-offset-8">
            <div class="col-xs-1">
                    <button type="button" class="btn btn-primary" ng-model="" >
                        Guardar
                    </button>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-primary" ng-model=""  >
                    Guardar y Publicar
                </button>
            </div>
            <br />
        </div>
        
        <br />

    </div>




</div>