<div class="row">
    <div class="col-md-12">
        <div class="box dark">
            <header>
                <div class="icons">
                    <i class="glyphicon glyphicon-lock"></i>
                </div>
                <h5>Carga de Oferta Laboral</h5>
                <div class="toolbar">
                    <div class="btn btn-sm btn-default minimize-box">
                        <a>
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </div>
                </div>
            </header>

        </div>
        <br />
        <div class="col-xs-4 col-xs-offset-1">
            <img src="../../../../Icon.png" class="img-circle img-responsive" />
        </div>
        <div class="col-xs-6">

            <div class="form-group">
                <label>Nombre de la Oferta</label>
                <input type="text" ng-model="Oferta.nombre" class="form-control" required />
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <div class="col-xs-4">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                Rubro <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Rubro 1</a></li>
                                <li><a href="#">Rubro 2</a></li>
                                <li><a href="#">Rubro 3</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <!--<script type="text/ng-template" id="customTemplate.html">
                            <a>
                                <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
                                <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
                            </a>
                        </script>-->

                        <div class='container-fluid' ng-controller="TypeaheadCtrl">

                            <label>Lugar</label>
                            <input type="text" ng-model="Oferta.lugar" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="row">

                <div class="col-md-6">
                    <label>Fecha de Inicio de Oferta</label>
                    <p class="input-group">
                        <input type="text" ng-model="Oferta.fechaDeInicio" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>


                <div class="col-md-6">
                    <label>Fecha de Fin de la Oferta</label>
                    <p class="input-group">
                        <input type="text" ng-model="Oferta.fechaDeFin" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">

                <label>Descripcion</label>
                <textarea cols="25" rows="6" ng-model="Oferta.descripcion" class="form-control" required> </textarea>
            </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1">

            <!--<div ng-controller="CollapseDemoCtrl" class="ng-scope">
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Agregar nuevo puesto</button>
                <hr>
                <div collapse="isCollapsed">
                </div>
            </div>-->
            <accordion>
                <accordion-group>
                    <accordion-heading>
                        nuevo puesto<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open,'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>

                    <div class="col-xs-12">


                        <div class="col-xs-6">
                            <div class="form-inline">
                                <label>Puesto</label>
                                <input type="text" ng-model="puesto.nombre" class="form-control ng-pristine ng-untouched ng-valid" placeholder="nombre del puesto">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-inline">
                                <label>
                                    <input type="text" ng-model="Orferta.tipoDeContratacion" class="form-control ng-pristine ng-untouched" placeholder="Contrato de locacion, contrato de trabajo..." />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>sub-rubro del puesto</label>
                                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle="" ng-disabled="disabled">
                                    sub-rubro <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">action</a></li>
                                    <li><a href="#">another action</a></li>
                                    <li><a href="#">something else here</a></li>
                                </ul>
                            </div>

                        </div>



                        <br>


                        <div class="col-xs-6">
                            <div class="form-inline">


                                <label>agregar habilidades requeridas</label>
                                <input type="text" ng-model="puesto.habilidad" class="form-control ng-valid ng-dirty ng-pristine ng-untouched" placeholder="habilidad requerida">
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">

                                <button ng-click="addpuesto" class="btn btn-primary btn-xs">agregar</button>


                                <!--repeat start-->
                                <!--<div ng-repeat-start="habilidad in habilidades" class="ng-hide-animate">
                                    <button class="btn btn-primary btn-block btn-sm" ng-click="toogglepuesto(puesto)">
                                        {{puesto.nombre}}
                                        <span class="expand-indicator" ng-show="puesto.expanded">&mdash;</span>
                                    </button>
                                </div>-->
                                <!--repeat habilidades-->
                                <div class="list-items animate-show-item" ng-show="category.expanded">
                                    <ul>
                                        <!-- ngrepeat: task in habilidades.task -->
                                    </ul>

                                    <!--fin del repeat-->
                                    <!--<div ng-repeat-end>
                                        <button ng-show="habilidad.expanded" class="btn btn-primary btn-block btn-sm animate-show-item" disabled="disabled">/ {{ habilidad.name }}</button>
                                        <hr>
                                    </div>-->

                                </div>
                            </div>
                        </div>



                        <br><br>


                        <br><br>


                        <div class="col-xs-5">
                            <div class="form-inline">
                                <label>remuneración</label>
                                <input type="text" ng-model="puesto.remuneracion" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                        </div>
                        <div class="col-xs-2 col-xs-offset-1">
                            <div class="form-inline">
                                <div class="btn-group" dropdown="" is-open="status.isopen">
                                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle="" ng-disabled="disabled">
                                        nivel de estudio <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">action</a></li>
                                        <li><a href="#">another action</a></li>
                                        <li><a href="#">something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-horizontal">
                                <div class="checkbox">
                                    <label>finalizado?    </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="puesto.niveldeestudiofinalizado">

                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <!-- dropdown multiselect -->
                        <!--<div class="col-xs-6">
                        <div class="form-group">
                            <div ng-dropdown-multiselect="" options="example8data" selected-model="example8model">
                                <div ng-dropdown-multiselect="" options="example8data" selected-model="example8model" checkboxes="true">dropmultiselect</div>



                            </div>

                        </div>-->

                        <div class="col-xs-2">
                            <div class="btn-group" dropdown="" is-open="status.isopen">
                                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle="" ng-disabled="disabled">
                                    profesion <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">action</a></li>
                                    <li><a href="#">another action</a></li>
                                    <li><a href="#">something else here</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-inline">
                                <label>experiencia</label>
                                <input type="text" ng-model="oferta.añosdeexperiencia" class="form-control" placeholder="experiencia(meses/años)..." />
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="btn-group" dropdown is-open="status.isopen">
                                    <button type="button" class="btn btn-primary dropdown-toggle" ng-model="oferta.distanciaaltrabajo" dropdown-toggle ng-disabled="disabled">
                                        distancia al trabajo <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">action</a></li>
                                        <li><a href="#">another action</a></li>
                                        <li><a href="#">something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="btn-group" dropdown is-open="status.isopen">
                                    <button type="button" class="btn btn-primary dropdown-toggle" ng-model="oferta.distanciaaltrabajo" dropdown-toggle ng-disabled="disabled">
                                        movilidad? <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">si</a></li>
                                        <li><a href="#">no</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">

                                <label>adicionales</label>
                                <textarea cols="25" rows="6" ng-model="puesto.adicional" class="form-control ng-pristine ng-untouched ng-valid" required=""> </textarea>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                </accordion-group>

            </accordion>

        </div>
    </div>




</div>