<!--Area de Carga de Empleado-->
<div class="row">
    <div class="col-lg-12">
        <div class="box dark">
            <header>
                <div class="icons">
                    <i class="fa fa-institution"></i>
                </div>
                <h5>Carga Nuevo Empleado</h5>
                <div class="toolbar">
                    <div class="btn btn-sm btn-default minimize-box">
                    </div>
                </div>
            </header> <!--Encabezado-->
            <div class="body">
                <br />
                <div class="row">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <br />
                            <div class="row">
                                <!--<img src="/assets/img/employeeProfile.jpg" class="img-responsive" />
                                <input type="file" accept="image/*" image="image" />-->
                                <!--<div class="col-md-12">
                                <input class="btn btn-default" type="file" ng-model="infoEmpleado.ImagenPerfil" accept="image/*" image="image" />

                                    <img ng-show="image" src="image/*" type="image" class="img-responsive" />
                                </div>-->
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-danger">
                                    Subir Curriculum (PDF)
                                </button>
                            </div>
                        </div><!--Imagen de Perfil-->

                        <div class="col-xs-7">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Datos Basicos</div> <!--Titulo Panel-->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label>Dni</label>
                                            <input type="text" ng-model="infoEmpleado.Dni" class="form-control" required />
                                        </div><!--DNI-->
                                        <div class="col-xs-8">
                                            <label>Cuil</label>
                                            <input type="text" ng-model="infoEmpleado.Cuil" class="form-control" required />
                                        </div> <!--CUIL-->
                                    </div> <!--DNI/CUIL-->
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <label>Nombre y Apellido</label>
                                            <input type="text" ng-model="infoEmpleado.NombreApellido" class="form-control" />
                                        </div>
                                        <div class="col-xs-4">
                                            <label>Fecha de Nacimiento</label>
                                            <input class="form-control" type="date" ng-model="infoEmpleado.FecNacimiento">
                                        </div>
                                    </div> <!--Nombre y Apellido/Fecha de Nacimiento-->
                                    <br />

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>Naci en</label>
                                            <location-lookup ng-model="infoEmpleado.UbicacionOrigen" limit-to="4"></location-lookup>
                                        </div> <!--Ubicación de Origen-->

                                        <div class="col-xs-6">
                                            <label>Estoy en</label>
                                            <location-lookup ng-model="infoEmpleado.UbicacionActual" limit-to="4"></location-lookup>
                                        </div><!--Ubicacion Actual-->
                                    </div> <!--Ubicacion Actual/Origen-->
                                </div> <!--Cuerpo Panel-->
                            </div><!--Panel Datos personales-->
                            <br />

                            <div class="panel panel-primary">
                                <div class="panel-heading">Datos de contacto</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <label>Telefono</label>
                                            <input type="text" ng-model="infoEmpleado.Telefono" class="form-control" required />
                                        </div> <!--Tel-->
                                        <div class="col-xs-7">
                                            <label>Celular</label>
                                            <input type="text" ng-model="infoEmpleado.Celular" class="form-control" />
                                        </div>
                                    </div><!--Tel/Cel-->
                                    <br />

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>Correo electronico</label>
                                            <input type="email" ng-model="infoEmpleado.Email" class="form-control" required />
                                        </div>
                                    </div> <!--EMail-->
                                    <br />
                                </div>
                            </div><!--Panel datos de contacto-->
                            <br />


                        </div> <!--Datos empleado-->

                    </div> <!--Panel superior(imagen/datos basicos/datos de contacto)-->

                    <div class="row">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Resumen Curricular (500 caracteres)</div>
                                    <div class="panel-body">
                                        <textarea cols="25" rows="6" class="form-control" required ng-model="infoEmpleado.ResumenCurricular"></textarea>
                                    </div>
                                </div>
                            </div><!--Carga de resumen curricular-->
                        </div>


                        <br />


                        <div class="row">
                            <div class=" col-xs-10 col-xs-offset-1">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Rubros a los que pertenece</div>
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-md-4 form-inline">
                                                <label>Rubro</label>
                                                <select class="btn btn-block btn-primary" ng-options="rubro.Nombre for rubro in rubros" ng-model="rubroSelect"></select>

                                            </div><!--Rubro-->
                                            <div class="col-md-4">
                                                <label>Sub-Rubro</label>
                                                <select class="btn btn-block btn-primary" ng-options="subRubro.Nombre for subRubro in rubroSelect.SubRubros" ng-model="subRubroSelect"></select>

                                            </div> <!--SubRubro-->
                                            <div class="col-md-3">
                                                <br />
                                                <button class="btn btn-default btn-primary" ng-click="AddRubro()">
                                                    Agregar Rubro
                                                </button>

                                            </div> <!--Boton Agregar Rubro/SubRubro-->

                                        </div> <!--Rubro/SubRubro/Boton agregar a lista-->
                                        <br />


                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Rubro</th>
                                                    <th>Subrubro</th>
                                                    <th>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="i in rubrosList">
                                                <tr>
                                                    <!--Verificar porque no se muestra el contenido-->
                                                    <th>{{$index + 1}}</th>
                                                    <td>{{i.rNombre}}</td>
                                                    <td>{{i.srNombre}}</td>
                                                    <td><a class="btn" ng-click="RubroDel(i)">Delete</a></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr></tr>
                                            </tfoot>
                                        </table><!--Lista de Rubros/Subrubro-->

                                    </div>
                                  
                                </div>
                            </div>
                            

                        </div><!--Listado de Rubro/SubRubro-->

                    </div> <!--Panel inferior(Resumen Curricular/Rubros/Subrubros)-->




                </div>
            </div> <!--Cuerpo de Vista-->
            <div class="modal-footer">
                <div class="row col-xs-offset-7">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <a href="#">Terminos y Condiciones</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary" ng-model="singleModel" ng-click="empleadoAdd(infoEmpleado)">
                            Aceptar y Agregar Nuevo
                        </button>
                    </div>
                </div>
            </div> <!--Footer-->
        </div> <!--Contenedor con Clase de Estilo-->
    </div> <!--Contenedor Responsive-->

</div> <!--Contenedor Principal-->